{% set combined_db_config = default_db_config | combine(db_config, recursive=true) -%}
[database]

databaseUri = {{ combined_db_config['database_uri'] }}
databaseName = {{ combined_db_config['database_name'] }}
maxWriterThreads = {{ combined_db_config['max_writer_threads'] }}

[plugins]

catapult.mongo.plugins.accountlink = {{ combined_db_config['catapult_mongo_plugins_accountlink'] | lower }}
catapult.mongo.plugins.aggregate = {{ combined_db_config['catapult_mongo_plugins_aggregate'] | lower }}
catapult.mongo.plugins.config = {{ combined_db_config['catapult_mongo_plugins_config'] | lower }}
catapult.mongo.plugins.contract = {{ combined_db_config['catapult_mongo_plugins_contract'] | lower }}
catapult.mongo.plugins.exchange = {{ combined_db_config['catapult_mongo_plugins_exchange'] | lower }}
catapult.mongo.plugins.lockhash = {{ combined_db_config['catapult_mongo_plugins_lockhash'] | lower }}
catapult.mongo.plugins.locksecret = {{ combined_db_config['catapult_mongo_plugins_locksecret'] | lower }}
catapult.mongo.plugins.metadata = {{ combined_db_config['catapult_mongo_plugins_metadata'] | lower }}
catapult.mongo.plugins.mosaic = {{ combined_db_config['catapult_mongo_plugins_mosaic'] | lower }}
catapult.mongo.plugins.multisig = {{ combined_db_config['catapult_mongo_plugins_multisig'] | lower }}
catapult.mongo.plugins.namespace = {{ combined_db_config['catapult_mongo_plugins_namespace'] | lower }}
catapult.mongo.plugins.property = {{ combined_db_config['catapult_mongo_plugins_property'] | lower }}
catapult.mongo.plugins.transfer = {{ combined_db_config['catapult_mongo_plugins_transfer'] | lower }}
catapult.mongo.plugins.upgrade = {{ combined_db_config['catapult_mongo_plugins_upgrade'] | lower }}
catapult.mongo.plugins.service = {{ combined_db_config['catapult_mongo_plugins_service'] | lower }}
catapult.mongo.plugins.operation = {{ combined_db_config['catapult_mongo_plugins_operation'] | lower }}
catapult.mongo.plugins.supercontract  = {{ combined_db_config['catapult_mongo_plugins_supercontract'] | lower }}