version: "3.6"
services:
  catapult:
    # Downloads Catapult Server from specified Docker repo
    image: {{ catapult_server_repository_name }}:{{ catapult_server_docker_tag }}
    ports:
      - {{ catapult_ports[2] }}:7902
      - {{ catapult_ports[0] }}:7900
      - {{ catapult_ports[1] }}:7901
    volumes:
      - {{ catapult_config_directory }}:/chainconfig
      - {{ catapult_data_directory }}:/data:rw
      - {{ catapult_logs_directory }}:/logs:rw
    restart: always
    entrypoint: /bin/bash
    command: -c "rm -f /data/server.lock && {{ sirius_binary_path }}/sirius.bc /chainconfig"
    # command: sh -c "/catapult/bin/catapult.server /catapultconfig"
